.about
  @include mediaTablet
    padding-top: 80px
  @include mediaMobile
    padding-top: 60px
  & .container
    padding: 0
  &__inner
    display: flex
    flex-direction: column
  &__item
    display: flex
    justify-content: space-between
    align-items: center
    &:nth-child(even)
      flex-direction: row-reverse
      @include mediaTablet
        flex-direction: column-reverse
    @include mediaTablet
      flex-direction: column-reverse
      &:not(:last-child)
        margin-bottom: 80px
      @include mediaMobile
        &:not(:last-child)
          margin-bottom: 50px
    &:nth-child(2)
      .about__left
        margin-bottom: -10px
    &:nth-child(3)
      .about__left
        .about__quote
          margin-top: 98px
          max-width: 296px
  &__left
    margin-top: -2px
    margin-left: -2px
    width: 50%
    display: flex
    flex-direction: column
    align-items: center
    @include mediaMin-mobile
     padding: 30px 0
  &__title
    margin-bottom: 30px
    font-family: $second-font
    font-size: 30px
    font-weight: 400
    letter-spacing: .2px
    text-align: center
    color: $black
    @include mediaTabletL
      font-size: 24px
    @include mediaMin-mobile
      font-size: 20px
  &__content
    max-width: 409px
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    @include mediaTablet
      max-width: 425px
  &__text
    font-size: 16px
    font-weight: 300
    line-height: 1.5
    letter-spacing: .77px
    color: $black
    &:not(:last-child)
      margin-bottom: 24px
      @include mediaMobile
        margin-bottom: 20px
    @include mediaTablet
      font-size: 18px
    @include mediaMobile
      font-size: 16px
    @include mediaMin-mobile
      font-size: 14px
  &__quote
    margin-top: 86px
    max-width: 330px
    width: 100%
    font-size: 20px
    font-weight: 300
    line-height: 1.5
    letter-spacing: .9px
    text-align: center
    color: $black
    position: relative
    &:after,
    &:before
      content: '“'
      width: 25px
      font-size: 72px
      font-weight: 400
      line-height: 1.9
      color: $gray
      @include mediaMobile
        font-size: 50px
      @include mediaMin-mobile
        font-size: 34px
    &:after
      position: absolute
      bottom: -100px
      right: -36px
      @include mediaTablet
        bottom: -80px
        right: -30px
      @include mediaMobile
        right: -20px
        bottom: -60px
      @include mediaMin-mobile
        right: -10px
    &:before
      position: absolute
      top: -81px
      left: -5px
      @include mediaTablet
        top: -50px
        left: -40px
      @include mediaMobile
        top: -30px
        left: -30px
      @include mediaMin-mobile
        left: -15px
    @include mediaTabletL
      margin-top: 50px
      max-width: 230px
      font-size: 16px
    @include mediaTablet
      max-width: 320px
      margin-top: 22px
      font-size: 18px
    @include mediaMin-mobile
      font-size: 14px
  &__person
    margin-top: 93px
    display: block
    font-size: 18px
    font-weight: 300
    line-height: 1.5
    text-align: center
    color: $black
    @include mediaTablet
      margin-top: 60px
    @include mediaMin-mobile
      margin-top: 40px
      font-size: 14px
  &__right
    width: 50%
    height: 100%
    @include mediaTablet
      max-width: 500px
      width: 100%
  &__photo
    width: 100%
    height: 100%


