.intro
  width: 100%
  height: 100vh
  position: relative
  z-index: 1000
  overflow: hidden
  &__bg
    width: 100%
    position: absolute !important
    z-index: -10
    pointer-events: none
  &__bg-slide-container
    position: absolute
    width: 100%
    height: 100vh
    overflow: hidden
    &:after
      content: ''
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      background-color: rgba(0,0,0,.25)
      backdrop-filter: blur(7px)
  &__inner
    height: 100vh
    display: flex
    justify-content: space-between
    position: relative
    z-index: 1
  &__nav
    max-width: 20px
    width: 100%
    margin: auto 0
    display: flex
    flex-direction: column
    align-items: center
    top: calc(50% - 68px)
    right: 5%
    position: fixed
    z-index: 1
    @media (max-width: 768px)
      margin-right: 0
    @media (max-width: 600px)
      max-width: 10px
      margin-right: 5px
    &.active
      .intro__nav-item
        background-color: #000
  &__nav-item
    width: 10px
    height: 10px
    background-color: #dcdcdc
    border-radius: 50%
    cursor: pointer
    transform: scale(1)
    transition-duration: .4s
    &:not(:last-child)
      margin-bottom: 15px
    &.active
      transform: scale(1.5)
      margin-bottom: 20px
    @media (max-width: 768px)
      width: 8px
      height: 8px
    @media (max-width: 600px)
      width: 6px
      height: 6px
  &__img
    width: 100%
    height: 100%
    object-fit: cover
    will-change: transform
  &__content
    display: flex
    flex-direction: column
    align-items: center
    margin: auto
    max-width: 600px
    height: auto
    overflow: visible
    z-index: 1
    position: relative
    @media (max-width: 1024px)
      max-width: 530px
    @media (max-width: 768px)
      max-width: 375px
    @media (max-width: 600px)
      max-width: 240px
    &:after
      content: ''
      width: 120%
      height: 120%
      position: absolute
      top: 0
      left: -10%
      background-color: rgba(0,0,0,.05)
      filter: blur(10px)
      pointer-events: none
  &__title
    margin-bottom: 30px
    font-family: Nunito
    font-size: 60px
    font-weight: 400
    color: $white
    @media (max-width: 1024px)
      font-size: 54px
    @media (max-width: 768px)
      font-size: 40px
    @media (max-width: 600px)
      font-size: 30px
  &__subtitle
    margin-bottom: 50px
    font-size: 20px
    font-weight: 400
    line-height: 1.5
    text-align: center
    color: $white
    position: relative
    @media (max-width: 1024px)
      font-size: 18px
    @media (max-width: 768px)
      font-size: 14px
    @media (max-width: 600px)
      margin-bottom: 30px
      font-size: 12px
    &:after
      content: ''
      width: 100%
      height: 100%
      background-image: url(../img/subtitle-bg.png)
      background-size: cover
      background-repeat: no-repeat
      position: absolute
      top: -2px
      left: 0
      z-index: -1
      @media (max-width: 768px)
        top: 0
      @media (max-width: 600px)
        display: none
